.earn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0048B1;
  color: white;
  margin: 0;

  h2 {
    margin-top: 60px;
  }

  .range {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      div {
        border-radius: 50%;
        border: 1px solid black;
      }
    }

    p {
      margin: 0;
    }
  }

  button {
    height: 60px;
    color: #0048B1;
    background-color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

img {
  width: 100%;
  height: auto;
}