.background-container {
  position: relative;
  width: 543px;
  height: 666px;
  background-image: url('./../../../assets/images/rectangle.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  @media (max-width: 460px) {
    margin-bottom: -100px;
  }

  @media (max-width: 400px) {
    margin-bottom: -180px;
  }

  .background-overlay {
    position: absolute;
    top: 0;
    height: 640px;
    max-width: 444px;

    h2 {
      color: white;
      margin: 48px auto;
      text-align: center;
      position: relative;
      text-transform: uppercase;

      @media (max-width: 520px) {
        margin: 36px auto;
      }

      @media (max-width: 400px) {
        margin: 24px auto;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, #1BB147, #018ED5);
        bottom: -9px;
        left: 0;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, #1BB147, #018ED5);
        top: -9px;
        left: 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      max-width: 444px;

      input {
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        padding-left: 12px;
        font-size: 24px;
        color: #878787;
        outline: none;
        border: none;
        border-radius: 3px;

        @media (max-width: 520px) {
          height: 45px;
        }

        @media (max-width: 430px) {
          height: 35px;
          font-size: 16px;
        }

        @media (max-width: 400px) {
          height: 30px;
          font-size: 16px;
        }
      }

      input:focus {
        outline: none;
        border: none;
      }

      div {
        height: 20px;
        margin-bottom: 20px;

        @media (max-width: 400px) {
          margin-bottom: 10px;
        }

        p {
          color: black;
          opacity: 80%;
          font-size: 16px;
          margin-top: 2px;

          @media (max-width: 520px) {
            font-size: 12px;
          }
        }
      }

      .phone {
        height: 60px;
        margin: 0;

        @media (max-width: 520px) {
          height: 45px;
        }

        @media (max-width: 430px) {
          height: 35px;
        }

        @media (max-width: 400px) {
          height: 30px;
          font-size: 16px;
        }

        .react-international-phone-input {
          font-size: 16px;

          @media (max-width: 520px) {
            height: 45px;
          }

          @media (max-width: 430px) {
            height: 35px;
          }
  
          @media (max-width: 400px) {
            height: 30px;
          }
        }

        div {
  
          button {
            height: 60px;
            width: 60px;

            @media (max-width: 520px) {
              height: 45px;
              width: 45px;
            }

            @media (max-width: 430px) {
              height: 35px;
              width: 35px;
            }

            @media (max-width: 400px) {
              height: 30px;
              width: 30px;
            }

            div {
              margin: 0;
              border: 0;
            }
          }
        }
      }

      .button {
        margin-top: 12px;
        text-transform: uppercase;
        height: 60px;
        background-color: #FA0606;
        color: white;
        border: none;
        cursor: pointer;

        @media (max-width: 400px) {
          height: 40px;
          margin-top: 0;
        }

        &:disabled {
          opacity: 50%;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  input {
    height: 30px;
  }
}