.gratitude {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  max-width: 695px;

  img {
    max-width: 100%;

    @media (max-width: 800px) {
      width: 80%;
      @media (max-width: 800px) {
        margin: 0 30px;
      }
    }
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (відповідає для відео зі співвідношенням сторін 16:9) */
    width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}
