.opinion {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 80px;

  @media (max-width: 800px) {
    margin: 0 30px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #1BB147, #018ED5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-button-next::after {
      color: #1BB147
    }

    .swiper-button-prev::after {
      color: #1BB147
    }

    .swiper-pagination {

      .swiper-pagination-bullet-active {
        background-color: #1BB147
      }
    }
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 22px;
    color: #181818;
    background: #fff;
    margin-bottom: 40px;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
    }

    span {
      font-size: 24px;
    }

    p {
      font-size: 24px;
    }
  }
  
  .swiper-slide img {
    display: block;
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  
}
