header {
  position: relative;

  .bg-header {
    display: flex;
    background-image: url('/test-task-td-js/src/assets/images/bg-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 126px;

    @media (max-width: 900px) {
      height: 80px;
    }

    h1 {
      font-size: 36px;
      line-height: 43.75px;
      color: white;
      margin: auto 27px;

      @media (max-width: 900px) {
        font-size: 20px;
      }

      @media (max-width: 550px) {
        font-size: 14px;
      }

      @media (max-width: 450px) {
        font-size: 12px;
      }

      @media (max-width: 350px) {
        display: none;
      }
    }
  }

  
  .burger-button {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;

    @media (max-width: 900px) {
      position: absolute;
      display: block;
    }
  }

  nav {
    display: flex;
    height: 60px;

    @media (max-width: 900px) {
      display: none;
      transform: translateX(100%);

      &.open {
        display: block;
        background-color: #08AC6F;
        height: 100dvh;
        width: 100%;

        animation: slideIn 0.3s ease;
        transform: translateX(0);
      }
    }
    
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: auto 117px;
      padding: 0;

      @media (max-width: 900px) {
        flex-direction: column;
        margin: 0;
        padding-top: 10%;
        height: 60%;
      }

      li {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
          text-decoration: none;
          font-size: 24px;
          line-height: 31px;
          color: #181818;

          @media (max-width: 900px) {
            color: white;
          }
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}