header {
  .bg-header {
    display: flex;
    background-image: url('/test-task-td-js/src/assets/images/bg-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 126px;

    @media (max-width: 900px) {
      height: 80px;
    }

    h1 {
      font-size: 36px;
      line-height: 43.75px;
      color: white;
      margin: auto 27px;

      @media (max-width: 900px) {
        font-size: 20px;
      }

      @media (max-width: 550px) {
        font-size: 14px;
      }

      @media (max-width: 450px) {
        font-size: 12px;
      }

      @media (max-width: 350px) {
        display: none;
      }
    }
  }

  nav {
    display: flex;
    height: 60px;

    @media (max-width: 900px) {
      display: none;
    }
    
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: auto 117px;
      padding: 0;

      li {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
          text-decoration: none;
          font-size: 24px;
          line-height: 31px;
          color: #181818;
        }
      }
    }
  }
}